/* FONTS */

@font-face {
    font-family: 'Space Grotesk';
    src: url('../fonts/SpaceGrotesk-Regular.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Space Grotesk';
    src: url('../fonts/SpaceGrotesk-Light.ttf');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Space Grotesk';
    src: url('../fonts/SpaceGrotesk-Bold.ttf');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
// @font-face {
//     font-family: 'Space Grotesk';
//     src: url('../fonts/SpaceGrotesk-ExtraBold.ttf');
//     font-weight: 700;
//     font-style: normal;
//     font-display: swap;
// }