.container {
    @include media-breakpoint-up(xl) {
        max-width: 1230px;
    }
}

.image-text-block {
    .row {
        align-items: center;
        justify-content: flex-end;
        gap: 20px;
        .col  {
            flex: 0;
        }
    }
    .media {
        align-items: center;
        flex-direction: column;
        text-align: center;
        padding: 24px 10px 0;
        margin-right: 16px;
        width: 184px;
        height: 231px;
        @include prefix(border-radius, 35%);
        @include prefix(backdrop-filter, blur(3.83402px));
        -webkit-backdrop-filter: blur(3.83402px);
        background: rgba($purple-dark-400, 0.47);
        background: linear-gradient(164.09deg, rgba(71, 55, 94, 0.62) -23%, rgba(19, 16, 23, 0.4712) 167.47%);
        background: url('../images/style-images/background-blur-image-mobile.png') center / contain no-repeat;
        @include media-breakpoint-up(lg) {
            margin-right: 0;
            width: 241px;
            height: 302px;
            background: linear-gradient(164.09deg, rgba(71, 55, 94, 0.62) -23%, rgba(19, 16, 23, 0.4712) 167.47%);
            // background: url('../images/style-images/background-blur-image.png') center / contain no-repeat;
        }
        h5 {
            padding: 8px;
            @include media-breakpoint-up(lg) {
                padding: 10px 25px 10px;
            }
        }
        img {
            width: 70px;
            @include media-breakpoint-up(xl) {
                width: 98px;
            }
        }
    }
}

.section-heading {
    p {
        max-width: 1030px;
        margin: 0 auto;
    }
}