footer {

    .logo-image img {
        width: 31px;
        margin-bottom: 15px;
        @include media-breakpoint-up(md) {
            width: 56px;
        }
    }

    h4 {
        margin-bottom: 20px;
    }
    
    ul {
        list-style: none;
        li {
            @include font-size(12px);
            line-height: 20px;
            margin-bottom: 15px;
            @include media-breakpoint-up(md) {
                @include font-size(14px);
            }
        }
        a {
            color: $white;
            &:hover {
                color: $purple;
            }
        }
    }

    .accordion {
        padding-bottom: 20px;
        .card {
            background: none;
            &:not(:last-of-type) {
                border-bottom: 1px solid #0b151e;
            }
            border-bottom: 1px solid #0b151e;
            padding: 15px 0;
        }
        .card-header {
            padding: 0;
            border-bottom: none;
        }
        .btn {
            padding: 0;
            color: $purple;
            &:focus {
                box-shadow: none;
                text-decoration: none;
            }
            &:after {
                content: '';
                background: url('../images/style-images/icon-plus.png') right center / 14px auto no-repeat;
                position: absolute;
                top: 20px;
                right: 0;
                height: 14px;
                width: 14px;
                @include prefix(transition, 0.15s ease-in-out);
            }
            &[aria-expanded="true"]:after {
                background: url('../images/style-images/icon-minus.png') right center / 14px auto no-repeat;
            }
           
        }
        .card-body {
            padding: 0;
        }
        .collapse {
            margin-top: 10px;
            visibility: hidden; 
            &.show { 
                visibility: visible; 
            } 
        } 
        .collapsing { 
            position: relative; 
            height: 0; 
            overflow: hidden; 
            -webkit-transition-property: height,visibility; 
            -o-transition-property: height,visibility; 
            transition-property: height,visibility; 
            -webkit-transition-duration: .35s; 
            -o-transition-duration: .35s; 
            transition-duration: .35s; 
            -webkit-transition-timing-function: ease; 
            -o-transition-timing-function: ease; 
            transition-timing-function: ease; 
        }
    }
}